# 主機環境(dev|prod)
ENVIRONMENT=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Container Image Versions
NGINX_VERSION=nginx:1.29.2-alpine
GO_VERSION=golang:1.25.0-alpine 
POSTGRES_VERSION=postgres:18.0-alpine3.22

# Port Configurations
BACKEND_PORT=8080
FRONTEND_PORT=3000
HOST_POSTGRES_PORT=5432
HTTP_PORT=80
HTTPS_PORT=443

# Nuxt 伺服器允許的主機列表，用逗號分隔。此設定需要與 Nginx 配置檔案中的 `server_name` 保持同步
ALLOWED_HOSTS=

# Auth
JWT_SECRET=